---
pagination:
  data: images
  size: 40
---

<!DOCTYPE html>
<html lang="fr" class="font-sans">
  <head>
    {%- include "./_templates/head.njk" %}
  </head>
  <body class="min-h-screen mx-auto text-gray-900 per sans container-2xl" style="background-color:#0f0424">
    <main
      id="content"
       class="relative flex-grow block max-w-full transition-all duration-300 ease-out " id="content">
      {{test}}
      <div class="flex items-center justify-between px-0 py-3 sm:px-0">

        {# PAGINATION PRÉCÉDENT / SUIVAANT #}
        <div class="flex justify-between flex-1 my-8 lg:my-16 sm:px-per-lg ">
          <div>
            {% if pagination.href.previous %}
              <a href="{{ pagination.href.previous }}" class="cta-secondary">
          Précédent
              </a>
            {% endif %}
          </div>
          <h1 class="font-normal text-white">Journal visuel. Un flux automatique de ce qui passe sur mes écrans.</h1>
          <div>
            {% if pagination.href.next %}
              <a href="{{ pagination.href.next }}" class="cta-secondary">
            Suivant
          </a>
            {% endif %}
          </div>
        </div>

      </div>
      <ul
        class="flex flex-col gap-4 lg:gap-8 sm:px-per-lg px-per">
        {% for img in pagination.items %}
          <li style="">
            <img class="m-auto" lazy src="/assets/images/{{img}}" >
          </li>
        {% endfor %}
      </ul>

    </main>

  </body>
</html>